@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>add a blog post</h1>
    <h4>form:</h4>
    <h4>form:title</h4>
    <h4>form:author</h4>
    <h4>form:blog-text</h4>
</body>
</html>