@{
    ViewData["Title"] = "Add a Blog Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>add a blog post</h1>
    <h4>form:</h4>
    <h4>form:title</h4>
    <h4>form:author</h4>
    <h4>form:blog-text</h4>
