@{
    ViewData["Title"] = "Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>Blog</h1>
    <p>this web page is based on https://www.haribo.com/enUS/home.html </p>
    <h3>This is the main page, which includes some information about Gummi Bear Kingdom, and allows access to other areas of the site (navbar).</h3>
