@{
    ViewData["Title"] = "blog posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GBK.Models.Blog>
    <p>Current Posts:</p>


<ul>
    @foreach (var listBlog in Model)
    {
        <li>@Html.DisplayFor(modelItem => listBlog.Title) ~by: @Html.DisplayFor(modelItem => listBlog.Author)</li>
        <li>@Html.DisplayFor(modelItem => listBlog.Text)</li>
    }
</ul>

<p>@Html.ActionLink("Add a Blog Post", "Add")</p>