@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Edit</h1>

    <h3>form:</h3>
    <h4>name</h4>
    <h4>cost</h4>
    <h4>country</h4>

    <p>button - submit - route to products/index</p>
</body>
</html>