@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GBK.Models.Product>
    <h1>products</h1>

<ul>
    @foreach (var listProduct in Model)
    {
        <li>@Html.DisplayFor(modelItem => listProduct.Name)  ---@Html.ActionLink("Details", "Details", new { id = listProduct.ProductId })</li>
    }
</ul>

<p>@Html.ActionLink("Add a new Product", "Create")</p>