@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>products</h1>
    <h3>full list (just name) - each clickable - go to details page</h3>

    <p> button - add new</p>
